#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Item_3 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Price_3 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_design_2 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Exit_2 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Image_delete_2 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Item_2 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Price_2 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_design_1 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Exit_1 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Image_delete_1 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Price_1 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_design {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Exit {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Image_delete {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Item_5 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_design_4 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Image_add_2 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Item_4 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_design_3 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Image_add_1 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Back {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Image_BackBtn {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Save {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Image_Save {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Next {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Image_Next {
  -ms-transform: rotate(180.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Rectangle_Topbackground_2 {
  -ms-transform: rotate(0.0deg);
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d #s-Image_home {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-05471f55-7c45-4906-a6eb-a1fb28f75a9d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}