#s-0b557713-7cf3-4527-840c-2726a98ad0e5 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Group_Mainmenu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 60px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_Toptap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 60px;
  background-color: #F42652;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_Toptap .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_Toptap span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_Toptap span#rtr-s-Rectangle_Toptap_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_Topbackground_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: #32383D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_Topbackground_2 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_Topbackground_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_Topbackground_2 span#rtr-s-Rectangle_Topbackground_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Image_home > svg {
  width: 30px;
  height: 30px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Image_home {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Master_item_1 div.offset {
  position: relative;
  top: -80px;
  left: -380px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Master_item_1 {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 360px;
  height: 580px;
  overflow: visible;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Group_List {
  position: absolute;
  top: 261px;
  left: 0px;
  width: 360px;
  height: 490px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Group_21 {
  position: absolute;
  top: 210px;
  left: 0px;
  width: 360px;
  height: 70px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_47 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 260px;
  height: 70px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_47 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_47 span#rtr-s-Rectangle_47_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_47 span#rtr-s-Rectangle_47_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_47 span#rtr-s-Rectangle_47_2 {
  color: #00D2F1;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_47 span#rtr-s-Rectangle_47_3 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_48 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 70px;
  background-color: #1CD2FF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_48 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_48 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_48 span#rtr-s-Rectangle_48_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_21 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_16 {
  position: absolute;
  top: 20px;
  left: 326px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_16 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Group_22 {
  position: absolute;
  top: 280px;
  left: 0px;
  width: 360px;
  height: 70px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_49 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 260px;
  height: 70px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_49 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_49 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_49 span#rtr-s-Rectangle_49_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_49 span#rtr-s-Rectangle_49_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_49 span#rtr-s-Rectangle_49_2 {
  color: #00D2F1;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_49 span#rtr-s-Rectangle_49_3 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_50 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 70px;
  background-color: #06CC92;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_50 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_50 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_50 span#rtr-s-Rectangle_50_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_22 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_17 {
  position: absolute;
  top: 20px;
  left: 326px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_17 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Group_23 {
  position: absolute;
  top: 350px;
  left: 0px;
  width: 360px;
  height: 70px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_51 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 260px;
  height: 70px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_51 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_51 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_51 span#rtr-s-Rectangle_51_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_51 span#rtr-s-Rectangle_51_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_51 span#rtr-s-Rectangle_51_2 {
  color: #00D2F1;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_51 span#rtr-s-Rectangle_51_3 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_52 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 70px;
  background-color: #A4D805;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_52 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_52 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_52 span#rtr-s-Rectangle_52_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_23 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_18 {
  position: absolute;
  top: 20px;
  left: 326px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_18 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Group_26 {
  position: absolute;
  top: 140px;
  left: 0px;
  width: 360px;
  height: 70px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_57 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 260px;
  height: 70px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_57 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_57 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_57 span#rtr-s-Rectangle_57_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_57 span#rtr-s-Rectangle_57_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_57 span#rtr-s-Rectangle_57_2 {
  color: #00D2F1;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_57 span#rtr-s-Rectangle_57_3 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_58 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 70px;
  background-color: #FFC000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_58 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_58 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_58 span#rtr-s-Rectangle_58_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_26 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_21 {
  position: absolute;
  top: 20px;
  left: 326px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_21 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Group_24 {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 360px;
  height: 70px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_53 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 260px;
  height: 70px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_53 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_53 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_53 span#rtr-s-Rectangle_53_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_53 span#rtr-s-Rectangle_53_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_53 span#rtr-s-Rectangle_53_2 {
  color: #00D2F1;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_53 span#rtr-s-Rectangle_53_3 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_54 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 70px;
  background-color: #F42652;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_54 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_54 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_54 span#rtr-s-Rectangle_54_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_24 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_19 {
  position: absolute;
  top: 20px;
  left: 326px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_19 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Group_25 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 70px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_55 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 260px;
  height: 70px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_55 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_55 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_55 span#rtr-s-Rectangle_55_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_55 span#rtr-s-Rectangle_55_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_55 span#rtr-s-Rectangle_55_2 {
  color: #00D2F1;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_55 span#rtr-s-Rectangle_55_3 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_56 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 70px;
  background-color: #F42652;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_56 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_56 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_56 span#rtr-s-Rectangle_56_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_25 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_20 {
  position: absolute;
  top: 20px;
  left: 326px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_20 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Group_27 {
  position: absolute;
  top: 420px;
  left: 0px;
  width: 360px;
  height: 70px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_59 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 100px;
  width: 260px;
  height: 70px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_59 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_59 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_59 span#rtr-s-Rectangle_59_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_59 span#rtr-s-Rectangle_59_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_59 span#rtr-s-Rectangle_59_2 {
  color: #00D2F1;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_59 span#rtr-s-Rectangle_59_3 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_60 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 90px;
  height: 70px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_60 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_60 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_60 span#rtr-s-Rectangle_60_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_27 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_22 {
  position: absolute;
  top: 20px;
  left: 326px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_22 span {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #F42652;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}