#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_Topbackground_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Image_home {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_47 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_48 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_21 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_49 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_50 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_51 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_52 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_57 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_58 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_26 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_53 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_54 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_24 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_55 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_56 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_25 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_59 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_60 {
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_27 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}