#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_Toptap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_Topbackground_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Image_home {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_Topbackground_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Line_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0b557713-7cf3-4527-840c-2726a98ad0e5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}