#s-0d2c20c2-7552-44b6-9d3a-2678361a9cc1 #s-Paragraph_Detail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d2c20c2-7552-44b6-9d3a-2678361a9cc1 #s-Paragraph_head {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d2c20c2-7552-44b6-9d3a-2678361a9cc1 #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d2c20c2-7552-44b6-9d3a-2678361a9cc1 #s-Image_Main {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d2c20c2-7552-44b6-9d3a-2678361a9cc1 #s-Image_ConntectionCheck {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0d2c20c2-7552-44b6-9d3a-2678361a9cc1 #s-Text_ConntectionCheck {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0d2c20c2-7552-44b6-9d3a-2678361a9cc1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}