#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_Topbackground_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Image_home {
  -ms-transform: rotate(0.0deg);
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Image_44 {
  -ms-transform: rotate(180.0deg);
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Text_Customerhead_5 {
  -ms-transform: rotate(0.0deg);
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Text_Customerhead_4 {
  -ms-transform: rotate(0.0deg);
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}