#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Group_Mainmenu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 60px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_Toptap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 60px;
  background-color: #FFC000;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_Toptap .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_Toptap span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_Toptap span#rtr-s-Rectangle_Toptap_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_Topbackground_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: #32383D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_Topbackground_2 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_Topbackground_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_Topbackground_2 span#rtr-s-Rectangle_Topbackground_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Image_home > svg {
  width: 30px;
  height: 30px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Image_home {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Master_item_1 div.offset {
  position: relative;
  top: -180px;
  left: -540px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Master_item_1 {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 360px;
  height: 580px;
  overflow: visible;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Group_Popup {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  background-color: #666666;
  background-image: none;
  opacity: 0.75;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_3 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_4 {
  position: absolute;
  top: 221px;
  left: 30px;
  padding-top: 15px;
  width: 300px;
  height: 185px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px 1px #434343;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_4 .valign {
  vertical-align: top;
  text-align: center;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_4 span {
  color: #F42652;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #F42652;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Line_9 {
  position: absolute;
  top: 400px;
  left: 160px;
  width: 40px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Image_44 > svg {
  width: 24px;
  height: 24px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Image_44 {
  position: absolute;
  top: 389px;
  left: 300px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Image_43 > svg {
  width: 24px;
  height: 24px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Image_43 {
  position: absolute;
  top: 389px;
  left: 35px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Text_Customerhead_5 {
  position: absolute;
  top: 380px;
  left: 180px;
  width: 150px;
  height: 40px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Text_Customerhead_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Text_Customerhead_5 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 10.0pt;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Text_Customerhead_5 span#rtr-s-Text_Customerhead_5_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Text_Customerhead_4 {
  position: absolute;
  top: 380px;
  left: 30px;
  width: 150px;
  height: 40px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Text_Customerhead_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Text_Customerhead_4 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 10.0pt;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Text_Customerhead_4 span#rtr-s-Text_Customerhead_4_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Paragraph_1 {
  position: absolute;
  top: 283px;
  left: 49px;
  width: 264px;
  height: 71px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Raleway-Regular',Arial;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Paragraph_1 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 10.0pt;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}