#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_Toptap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_Topbackground_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Image_home {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_Item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_design {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_Exit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_delete {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_Item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_design_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_Exit_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_delete_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_Item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_design_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_Exit_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_delete_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_Topbackground_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-e96bf86e-3f1c-4dcc-9977-bdc446dfacaf #m-e96bf86e-Image_9 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: -1px;
  margin-top: -1px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Line_9 {
  rotation: 90.0;
  margin-left: 19px;
  margin-top: -20px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Image_44 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Text_Customerhead_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Text_Customerhead_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-0ebcb343-ea7d-4875-90b6-5447a8ada68f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}