#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Background_4 {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Bgicon_4 {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Image_Iconmenu_4 {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Text_SaleOrderListStatus_1 {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Background_3 {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Bgicon_3 {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Image_Iconmenu_3 {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Text_SaleOrderListStatus {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Background_2 {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Bgicon_2 {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Image_Iconmenu_2 {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Text_PenddingStatus {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Background_1 {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Bgicon_1 {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Image_Iconmenu_1 {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_MainmenuText {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_ProfileBackground {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Text_Team {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Text_Name {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Image_Profile {
  -ms-transform: rotate(0.0deg);
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}