#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Background_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Bgicon_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Image_Iconmenu_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Text_SaleOrderListStatus_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Background_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Bgicon_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Image_Iconmenu_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Text_SaleOrderListStatus {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Background_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Bgicon_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Image_Iconmenu_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Text_PenddingStatus {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Background_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_Bgicon_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Image_Iconmenu_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_MainmenuText {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Rectangle_ProfileBackground {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Text_Team {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Text_Name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Image_Profile {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Ellipse_Status {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Ellipse_Status_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-132c7737-c1c7-4578-b028-b99045aec905 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}