#s-1e298153-4ada-465a-992f-418275664baf #s-Rectangle_Offlinemode {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e298153-4ada-465a-992f-418275664baf #s-Paragraph_Detail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e298153-4ada-465a-992f-418275664baf #s-Paragraph_head {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e298153-4ada-465a-992f-418275664baf #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e298153-4ada-465a-992f-418275664baf #s-Image_Back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e298153-4ada-465a-992f-418275664baf #s-Image_153 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-1e298153-4ada-465a-992f-418275664baf > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}