#s-2be2d8b6-6df6-4c9d-9de9-7d9e40982fc6 #s-Rectangle_Toptap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2be2d8b6-6df6-4c9d-9de9-7d9e40982fc6 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2be2d8b6-6df6-4c9d-9de9-7d9e40982fc6 #s-Rectangle_Toptap_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2be2d8b6-6df6-4c9d-9de9-7d9e40982fc6 #s-Rectangle_Toptap_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2be2d8b6-6df6-4c9d-9de9-7d9e40982fc6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}