#s-2e954ef5-5b26-4c2c-831a-7aa077447c4e #s-Paragraph_Detail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2e954ef5-5b26-4c2c-831a-7aa077447c4e #s-Paragraph_head {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2e954ef5-5b26-4c2c-831a-7aa077447c4e #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2e954ef5-5b26-4c2c-831a-7aa077447c4e #s-Image_Main {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2e954ef5-5b26-4c2c-831a-7aa077447c4e #s-Image_ConntectionCheck {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2e954ef5-5b26-4c2c-831a-7aa077447c4e #s-Text_ConntectionCheck {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-2e954ef5-5b26-4c2c-831a-7aa077447c4e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}