#s-3595c508-bfcc-4f5d-a606-e1a9ea874ba1 #s-Image_ConntectionCheck {
  -ms-transform: rotate(0.0deg);
}
#s-3595c508-bfcc-4f5d-a606-e1a9ea874ba1 #s-Text_ConntectionCheck {
  -ms-transform: rotate(0.0deg);
}
#s-3595c508-bfcc-4f5d-a606-e1a9ea874ba1 #s-Paragraph_Detail {
  -ms-transform: rotate(0.0deg);
}
#s-3595c508-bfcc-4f5d-a606-e1a9ea874ba1 #s-Paragraph_head {
  -ms-transform: rotate(0.0deg);
}
#s-3595c508-bfcc-4f5d-a606-e1a9ea874ba1 #s-Ellipse_Background {
  -ms-transform: rotate(0.0deg);
}
#s-3595c508-bfcc-4f5d-a606-e1a9ea874ba1 #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-3595c508-bfcc-4f5d-a606-e1a9ea874ba1 #s-Image_73 {
  -ms-transform: rotate(0.0deg);
}
#s-3595c508-bfcc-4f5d-a606-e1a9ea874ba1 #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-3595c508-bfcc-4f5d-a606-e1a9ea874ba1 #s-Image_74 {
  -ms-transform: rotate(180.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3595c508-bfcc-4f5d-a606-e1a9ea874ba1 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}