#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Rectangle_StartQuotationBtn {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Rectangle_Payment {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Rectangle_Shippingaddress {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 3px 3px 3px 3px;
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Paragraph_Mainaddress {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Ellipse_Background {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Text_Customerhead_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Text_Customerhead_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Text_Customerhead {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Rectangle_Topbackground_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Image_home {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Text_Customerhead_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Paragraph_Customertext_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Text_Customerhead_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Paragraph_Mainaddress_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Paragraph_Mainaddress_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Text_Customerhead_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Text_Customerhead_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Image_44 {
  -ms-transform: rotate(180.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Paragraph_Mainaddress_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 #s-Paragraph_Mainaddress_4 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3886348c-bacb-4f66-9554-fd9a14a5b7d3 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}