#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Image_Exit {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}