#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 #s-Image_Exit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-4c3b425b-2c5a-45b6-957d-ef346ba5d472 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}