#s-58dad270-2aa7-452c-9a6b-0763fe4e0061 #s-Rectangle_Offlinemode {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58dad270-2aa7-452c-9a6b-0763fe4e0061 #s-Paragraph_Detail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58dad270-2aa7-452c-9a6b-0763fe4e0061 #s-Paragraph_head {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58dad270-2aa7-452c-9a6b-0763fe4e0061 #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58dad270-2aa7-452c-9a6b-0763fe4e0061 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-58dad270-2aa7-452c-9a6b-0763fe4e0061 #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-58dad270-2aa7-452c-9a6b-0763fe4e0061 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}