#s-597aa8b7-cf50-4cac-9448-8645e126397c #s-Rectangle_Offlinemode {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-597aa8b7-cf50-4cac-9448-8645e126397c #s-Paragraph_head {
  -ms-transform: rotate(0.0deg);
}
#s-597aa8b7-cf50-4cac-9448-8645e126397c #s-Ellipse_Background {
  -ms-transform: rotate(0.0deg);
}
#s-597aa8b7-cf50-4cac-9448-8645e126397c #s-Image_Mian {
  -ms-transform: rotate(0.0deg);
}
#s-597aa8b7-cf50-4cac-9448-8645e126397c #s-Image_Back {
  -ms-transform: rotate(0.0deg);
}
#s-597aa8b7-cf50-4cac-9448-8645e126397c #s-Paragraph_Text {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-597aa8b7-cf50-4cac-9448-8645e126397c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}