#s-597aa8b7-cf50-4cac-9448-8645e126397c #s-Rectangle_Offlinemode {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-597aa8b7-cf50-4cac-9448-8645e126397c #s-Paragraph_head {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-597aa8b7-cf50-4cac-9448-8645e126397c #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-597aa8b7-cf50-4cac-9448-8645e126397c #s-Image_Mian {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-597aa8b7-cf50-4cac-9448-8645e126397c #s-Image_Back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-597aa8b7-cf50-4cac-9448-8645e126397c #s-Paragraph_Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-597aa8b7-cf50-4cac-9448-8645e126397c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}