#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Paragraph_Name {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_head {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Paragraph_Price {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_head_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_Back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Image_BackBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_Save {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_Next {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Image_Next {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: 0px;
  margin-top: -1px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Line_6 {
  rotation: 90.0;
  margin-left: 19px;
  margin-top: -20px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Line_7 {
  rotation: 90.0;
  margin-left: 19px;
  margin-top: -20px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_Toptap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_Topbackground_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Image_home {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Current {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Step1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Ellipse_Step1_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Step1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Ellipse_Step1_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Step1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Ellipse_Step1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Company {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}