#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Paragraph_Name {
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_head {
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Paragraph_Price {
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_head_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_Back {
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Image_BackBtn {
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_Save {
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_Next {
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Image_Next {
  -ms-transform: rotate(180.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Rectangle_Topbackground_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 #s-Image_home {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5c3b6f64-6dcd-4ecf-b277-925328fec861 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}