#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Group_CustomerDetails {
  position: absolute;
  top: 177px;
  left: 0px;
  width: 360px;
  height: 245px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress {
  position: absolute;
  top: 95px;
  left: 30px;
  width: 300px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress span#rtr-s-Paragraph_Mainaddress_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress span#rtr-s-Paragraph_Mainaddress_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress_1 {
  position: absolute;
  top: 151px;
  left: 30px;
  width: 300px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress_1 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress_1 span#rtr-s-Paragraph_Mainaddress_1_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress_1 span#rtr-s-Paragraph_Mainaddress_1_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Text_Customerhead_1 {
  position: absolute;
  top: 51px;
  left: 90px;
  width: 180px;
  height: 40px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Text_Customerhead_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Text_Customerhead_1 span {
  color: #00D2F1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Text_Customerhead_1 span#rtr-s-Text_Customerhead_1_0 {
  color: #00D2F1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Customertext {
  position: absolute;
  top: 28px;
  left: 25px;
  width: 310px;
  height: 20px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Raleway-Light',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Customertext .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Customertext span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 10.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Customertext span#rtr-s-Paragraph_Customertext_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Text_Customerhead {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Text_Customerhead .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Text_Customerhead span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 14.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Text_Customerhead span#rtr-s-Text_Customerhead_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress_2 {
  position: absolute;
  top: 209px;
  left: 40px;
  width: 277px;
  height: 36px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress_2 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress_2 span#rtr-s-Paragraph_Mainaddress_2_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress_2 span#rtr-s-Paragraph_Mainaddress_2_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Group_Mainmenu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 60px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 60px;
  background-color: #00D2F1;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap span#rtr-s-Rectangle_Toptap_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap span#rtr-s-Rectangle_Toptap_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Topbackground_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: #32383D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Topbackground_2 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Topbackground_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Topbackground_2 span#rtr-s-Rectangle_Topbackground_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_home > svg {
  width: 30px;
  height: 30px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_home {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Group_Menu_edit {
  position: absolute;
  top: 439px;
  left: 40px;
  width: 280px;
  height: 40px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 280px;
  height: 40px;
  background-color: #EFEFEF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap_1 span {
  color: #FF7901;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 10.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap_1 span#rtr-s-Rectangle_Toptap_1_0 {
  color: #FF7901;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 40px;
  height: 40px;
  background-color: #FFA422;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_1 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_81 > svg {
  width: 30px;
  height: 30px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_81 {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Group_Menu_pdf {
  position: absolute;
  top: 489px;
  left: 40px;
  width: 280px;
  height: 40px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 280px;
  height: 40px;
  background-color: #EFEFEF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap_2 span {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 10.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap_2 span#rtr-s-Rectangle_Toptap_2_0 {
  color: #999999;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap_2 span#rtr-s-Rectangle_Toptap_2_1 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 43px;
  height: 40px;
  background-color: #CCCCCC;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_3 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Label_3 {
  position: absolute;
  top: 5px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'FontAwesomeJiM-Regular',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Label_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Label_3 span#rtr-s-Label_3_0 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'FontAwesomeJiM-Regular',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Group_BotBtn {
  position: absolute;
  top: 600px;
  left: 0px;
  width: 360px;
  height: 40px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Back {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 5px;
  width: 120px;
  height: 35px;
  background-color: #32383D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Raleway-Light',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Back .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Back span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 8.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Back span#rtr-s-Rectangle_Back_0 {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_BackBtn > svg {
  width: 30px;
  height: 30px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_BackBtn {
  position: absolute;
  top: 5px;
  left: 40px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Save {
  position: absolute;
  top: 0px;
  left: 120px;
  padding-bottom: 5px;
  width: 120px;
  height: 35px;
  background-color: #32383D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Raleway-Light',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Save .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Save span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 8.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Save span#rtr-s-Rectangle_Save_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Next {
  position: absolute;
  top: 0px;
  left: 240px;
  padding-bottom: 5px;
  width: 120px;
  height: 35px;
  background-color: #32383D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Raleway-Light',Arial;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Next .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Next span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 8.0pt;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Next span#rtr-s-Rectangle_Next_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Line_6 {
  position: absolute;
  top: 20px;
  left: 100px;
  width: 40px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Line_7 {
  position: absolute;
  top: 20px;
  left: 220px;
  width: 40px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_4 > svg {
  width: 30px;
  height: 30px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_4 {
  position: absolute;
  top: 5px;
  left: 285px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_Save_1 > svg {
  width: 30px;
  height: 30px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_Save_1 {
  position: absolute;
  top: 5px;
  left: 165px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Master_item_1 div.offset {
  position: relative;
  top: -140px;
  left: 0px;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Master_item_1 {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 360px;
  height: 119px;
  overflow: visible;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}