#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Text_Customerhead_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Customertext {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Text_Customerhead {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Paragraph_Mainaddress_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Topbackground_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_home {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Toptap_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Back {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_BackBtn {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Save {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Rectangle_Next {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b #s-Image_Save_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-5e5d40e3-415e-4052-a995-8bb0fcfc3e3b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}