#s-62d3f3f0-37e2-467d-aa54-d707baff210c #s-Rectangle_Offlinemode {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62d3f3f0-37e2-467d-aa54-d707baff210c #s-Paragraph_Detail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62d3f3f0-37e2-467d-aa54-d707baff210c #s-Paragraph_head {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62d3f3f0-37e2-467d-aa54-d707baff210c #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62d3f3f0-37e2-467d-aa54-d707baff210c #s-Image_Main {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-62d3f3f0-37e2-467d-aa54-d707baff210c #s-Image_Back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-62d3f3f0-37e2-467d-aa54-d707baff210c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}