#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Image_Exit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}