#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 #s-Image_Exit {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-75c3bb25-0de0-454c-9db0-0371cfc5b722 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}