#s-76106722-7fce-4ac5-99a8-97a34faf6f57 #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-76106722-7fce-4ac5-99a8-97a34faf6f57 #s-Rectangle_Topbackground_2 {
  -ms-transform: rotate(0.0deg);
}
#s-76106722-7fce-4ac5-99a8-97a34faf6f57 #s-Image_home {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-76106722-7fce-4ac5-99a8-97a34faf6f57 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}