#s-76106722-7fce-4ac5-99a8-97a34faf6f57 #s-Rectangle_Toptap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76106722-7fce-4ac5-99a8-97a34faf6f57 #s-Rectangle_Topbackground_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-76106722-7fce-4ac5-99a8-97a34faf6f57 #s-Image_home {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_Topbackground_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Line_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-76106722-7fce-4ac5-99a8-97a34faf6f57 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}