#s-85331b05-5cfc-4c4b-8ad0-e7ee0e17ded9 #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-85331b05-5cfc-4c4b-8ad0-e7ee0e17ded9 #s-Rectangle_Topbackground_2 {
  -ms-transform: rotate(0.0deg);
}
#s-85331b05-5cfc-4c4b-8ad0-e7ee0e17ded9 #s-Image_home {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-85331b05-5cfc-4c4b-8ad0-e7ee0e17ded9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}