#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Rectangle_Toptap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Ellipse_Background_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}