#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Ellipse_Background {
  -ms-transform: rotate(0.0deg);
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Ellipse_Background_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}