#s-9893f6e6-0712-4679-8ad3-eb94dea79493 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Ellipse_Background .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  position: absolute;
  overflow: hidden;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Ellipse_Background .content {
  width: 178px;
  height: 178px;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Ellipse_Background {
  position: absolute;
  top: 380px;
  left: 90px;
  width: 178px;
  height: 178px;
  background-color: #EFEFEF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #shapewrapper-s-Ellipse_Background .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #shapewrapper-s-Ellipse_Background span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #shapewrapper-s-Ellipse_Background span#rtr-s-Ellipse_Background_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Rectangle_Toptap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 359px;
  height: 60px;
  background-color: #00D2F1;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Rectangle_Toptap .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Rectangle_Toptap span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Rectangle_Toptap span#rtr-s-Rectangle_Toptap_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Ellipse_Background_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 178px;
  height: 178px;
  position: absolute;
  overflow: hidden;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Ellipse_Background_1 .content {
  width: 178px;
  height: 178px;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Ellipse_Background_1 {
  position: absolute;
  top: 135px;
  left: 90px;
  width: 178px;
  height: 178px;
  background-color: #EFEFEF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #shapewrapper-s-Ellipse_Background_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #shapewrapper-s-Ellipse_Background_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #shapewrapper-s-Ellipse_Background_1 span#rtr-s-Ellipse_Background_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Image_1 > svg {
  width: 90px;
  height: 90px;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Image_1 {
  position: absolute;
  top: 180px;
  left: 135px;
  width: 90px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Image_43 > svg {
  width: 90px;
  height: 90px;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Image_43 {
  position: absolute;
  top: 425px;
  left: 135px;
  width: 90px;
  height: 90px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Image_72 > svg {
  width: 30px;
  height: 30px;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 #s-Image_72 {
  position: absolute;
  top: 15px;
  left: 320px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9893f6e6-0712-4679-8ad3-eb94dea79493 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}