#s-9ad9c597-83ff-46b7-aa50-0649c44552c8 #s-Rectangle_Offlinemode {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ad9c597-83ff-46b7-aa50-0649c44552c8 #s-Paragraph_Detail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ad9c597-83ff-46b7-aa50-0649c44552c8 #s-Paragraph_head {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ad9c597-83ff-46b7-aa50-0649c44552c8 #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ad9c597-83ff-46b7-aa50-0649c44552c8 #s-Image_Exit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9ad9c597-83ff-46b7-aa50-0649c44552c8 #s-Image_Main {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-9ad9c597-83ff-46b7-aa50-0649c44552c8 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}