#s-a045c3a6-8aa8-49aa-85e9-3ca2d5013f46 #s-Rectangle_Offlinemode {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a045c3a6-8aa8-49aa-85e9-3ca2d5013f46 #s-Paragraph_Detail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a045c3a6-8aa8-49aa-85e9-3ca2d5013f46 #s-Paragraph_head {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a045c3a6-8aa8-49aa-85e9-3ca2d5013f46 #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a045c3a6-8aa8-49aa-85e9-3ca2d5013f46 #s-Image_Back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-a045c3a6-8aa8-49aa-85e9-3ca2d5013f46 #s-Image_Main {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a045c3a6-8aa8-49aa-85e9-3ca2d5013f46 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}