#s-a273bb90-4f73-4504-a98a-b5ac860ffb8c #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-a273bb90-4f73-4504-a98a-b5ac860ffb8c #s-Image_Cancel {
  -ms-transform: rotate(0.0deg);
}
#s-a273bb90-4f73-4504-a98a-b5ac860ffb8c #s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-a273bb90-4f73-4504-a98a-b5ac860ffb8c #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a273bb90-4f73-4504-a98a-b5ac860ffb8c #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#s-a273bb90-4f73-4504-a98a-b5ac860ffb8c #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#s-a273bb90-4f73-4504-a98a-b5ac860ffb8c #s-Image_44 {
  -ms-transform: rotate(180.0deg);
}
#s-a273bb90-4f73-4504-a98a-b5ac860ffb8c #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-a273bb90-4f73-4504-a98a-b5ac860ffb8c #s-Text_Customerhead_5 {
  -ms-transform: rotate(0.0deg);
}
#s-a273bb90-4f73-4504-a98a-b5ac860ffb8c #s-Text_Customerhead_4 {
  -ms-transform: rotate(0.0deg);
}
#s-a273bb90-4f73-4504-a98a-b5ac860ffb8c #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a273bb90-4f73-4504-a98a-b5ac860ffb8c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}