#s-a76310a0-ec88-4834-81f1-5b746088a422 {
  -pie-background: linear-gradient(to bottom,#F3F3F3,#EFEFEF);
  -pie-poll: false;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Text_Forgetpassword {
  -ms-transform: rotate(0.0deg);
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Rectangle_BtnSignin {
  -ms-transform: rotate(0.0deg);
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Head_Logo {
  -ms-transform: rotate(0.0deg);
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Head_Logo_1 {
  -ms-transform: rotate(0.0deg);
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}