#s-a76310a0-ec88-4834-81f1-5b746088a422 > #backgroundBox {
  background-color: #F3F3F3;
  background-image: -moz-linear-gradient(top,#F3F3F3,#EFEFEF);
  background-image: -webkit-linear-gradient(top,#F3F3F3,#EFEFEF);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#F3F3F3), color-stop(100%,#EFEFEF));
  background-image: -o-linear-gradient(top,#F3F3F3,#EFEFEF);
  background-image: linear-gradient(to bottom,#F3F3F3,#EFEFEF);
  position: absolute;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-SignIn {
  position: absolute;
  top: 393px;
  left: 25px;
  width: 310px;
  height: 218px;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Text_Forgetpassword {
  position: absolute;
  top: 204px;
  left: 61px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Raleway-Regular',Arial;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Text_Forgetpassword .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Text_Forgetpassword span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 9.0pt;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Text_Forgetpassword span#rtr-s-Text_Forgetpassword_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Rectangle_BtnSignin {
  position: absolute;
  top: 144px;
  left: 36px;
  width: 236px;
  height: 50px;
  background-color: #FFA422;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Rectangle_BtnSignin .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Rectangle_BtnSignin span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Rectangle_BtnSignin span#rtr-s-Rectangle_BtnSignin_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Rectangle_BtnSignin span#rtr-s-Rectangle_BtnSignin_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Input_Password {
  position: absolute;
  top: 44px;
  left: 0px;
  width: 310px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #32383D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  box-shadow: none;
  text-shadow: none;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Input_Password .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Input_Password input {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Input_Username {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 310px;
  height: 43px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #32383D;
  box-shadow: none;
  text-shadow: none;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Input_Username .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Input_Username input {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Head_Logo {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 360px;
  height: 40px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 30.0pt;
  font-family: 'Raleway-ExtraBold',Arial;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Head_Logo .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Head_Logo span {
  color: #FFA422;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-ExtraBold',Arial;
  font-size: 30.0pt;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Head_Logo span#rtr-s-Head_Logo_0 {
  color: #FFA422;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-ExtraBold',Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Head_Logo span#rtr-s-Head_Logo_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-ExtraBold',Arial;
  font-size: 30.0pt;
  line-height: 0px;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Head_Logo_1 {
  position: absolute;
  top: 141px;
  left: 0px;
  width: 360px;
  height: 34px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 22.0pt;
  font-family: 'Raleway-UltraLight',Arial;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Head_Logo_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Head_Logo_1 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-UltraLight',Arial;
  font-size: 22.0pt;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Head_Logo_1 span#rtr-s-Head_Logo_1_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-UltraLight',Arial;
  font-size: 22.0pt;
  line-height: 0px;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Paragraph_1 {
  position: absolute;
  top: 200px;
  left: 45px;
  width: 270px;
  height: 81px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Paragraph_1 span {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #666666;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-a76310a0-ec88-4834-81f1-5b746088a422 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}