#s-af8a446a-8389-4646-bd3d-9e3772ce5efb > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Group_Item_3 {
  position: absolute;
  top: 320px;
  left: 0px;
  width: 360px;
  height: 70px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 30px;
  width: 310px;
  height: 69px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_3 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_3 span#rtr-s-Rectangle_Item_3_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_3 span#rtr-s-Rectangle_Item_3_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_3 span#rtr-s-Rectangle_Item_3_2 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_3 {
  position: absolute;
  top: 0px;
  left: 235px;
  width: 100px;
  height: 69px;
  background-color: #32383D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_3 span {
  color: #00D2F1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_3 span#rtr-s-Rectangle_Price_3_0 {
  color: #00D2F1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_3 span#rtr-s-Rectangle_Price_3_1 {
  color: #00D2F1;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_3 span#rtr-s-Rectangle_Price_3_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 69px;
  background-color: #00D2F1;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_2 span#rtr-s-Rectangle_design_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit_2 {
  position: absolute;
  top: 0px;
  left: 335px;
  width: 25px;
  height: 69px;
  background-color: #F42652;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit_2 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit_2 span#rtr-s-Rectangle_Exit_2_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_delete_2 > svg {
  width: 25px;
  height: 25px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_delete_2 {
  position: absolute;
  top: 23px;
  left: 335px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_5 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Group_Item_2 {
  position: absolute;
  top: 250px;
  left: 0px;
  width: 360px;
  height: 70px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 30px;
  width: 310px;
  height: 69px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_2 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_2 span#rtr-s-Rectangle_Item_2_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_2 span#rtr-s-Rectangle_Item_2_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_2 span#rtr-s-Rectangle_Item_2_2 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_2 {
  position: absolute;
  top: 0px;
  left: 235px;
  width: 100px;
  height: 69px;
  background-color: #32383D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_2 span {
  color: #A4D805;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_2 span#rtr-s-Rectangle_Price_2_0 {
  color: #A4D805;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_2 span#rtr-s-Rectangle_Price_2_1 {
  color: #00D2F1;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_2 span#rtr-s-Rectangle_Price_2_2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 69px;
  background-color: #A4D805;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_1 span#rtr-s-Rectangle_design_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit_1 {
  position: absolute;
  top: 0px;
  left: 335px;
  width: 25px;
  height: 69px;
  background-color: #F42652;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit_1 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit_1 span#rtr-s-Rectangle_Exit_1_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_delete_1 > svg {
  width: 25px;
  height: 25px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_delete_1 {
  position: absolute;
  top: 23px;
  left: 335px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_4 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Group_Item_1 {
  position: absolute;
  top: 180px;
  left: 0px;
  width: 360px;
  height: 70px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 30px;
  width: 310px;
  height: 69px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_1 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_1 span#rtr-s-Rectangle_Item_1_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_1 span#rtr-s-Rectangle_Item_1_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_1 span#rtr-s-Rectangle_Item_1_2 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_1 {
  position: absolute;
  top: 0px;
  left: 235px;
  width: 100px;
  height: 69px;
  background-color: #32383D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_1 span {
  color: #00D2F1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_1 span#rtr-s-Rectangle_Price_1_0 {
  color: #00D2F1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_1 span#rtr-s-Rectangle_Price_1_1 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 69px;
  background-color: #00D2F1;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design span#rtr-s-Rectangle_design_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit {
  position: absolute;
  top: 0px;
  left: 335px;
  width: 25px;
  height: 69px;
  background-color: #F42652;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit span#rtr-s-Rectangle_Exit_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_delete > svg {
  width: 25px;
  height: 25px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_delete {
  position: absolute;
  top: 23px;
  left: 335px;
  width: 25px;
  height: 25px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_3 {
  position: absolute;
  top: 69px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Group_Botton {
  position: absolute;
  top: 530px;
  left: 0px;
  width: 360px;
  height: 110px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 110px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px 1px #666666;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_1 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Group_FreeBtn {
  position: absolute;
  top: 0px;
  left: 180px;
  width: 180px;
  height: 69px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 165px;
  height: 69px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_5 span {
  color: #85B13A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_5 span#rtr-s-Rectangle_Item_5_0 {
  color: #85B13A;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_5 span#rtr-s-Rectangle_Item_5_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_5 span#rtr-s-Rectangle_Item_5_2 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_4 {
  position: absolute;
  top: 45px;
  left: 120px;
  width: 45px;
  height: 15px;
  background-color: #A4D805;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_4 span#rtr-s-Rectangle_design_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_4 span#rtr-s-Rectangle_design_4_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_add_2 > svg {
  width: 20px;
  height: 20px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_add_2 {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Group_SellBtn {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 181px;
  height: 70px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 15px;
  width: 165px;
  height: 69px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_4 span {
  color: #00D2F1;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_4 span#rtr-s-Rectangle_Item_4_0 {
  color: #00D2F1;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_4 span#rtr-s-Rectangle_Item_4_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  line-height: 11.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_4 span#rtr-s-Rectangle_Item_4_2 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_4 span#rtr-s-Rectangle_Item_4_3 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_3 {
  position: absolute;
  top: 45px;
  left: 115px;
  width: 50px;
  height: 15px;
  background-color: #00D2F1;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_3 span#rtr-s-Rectangle_design_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_add_1 > svg {
  width: 20px;
  height: 20px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_add_1 {
  position: absolute;
  top: 5px;
  left: 10px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_8 {
  position: absolute;
  top: 35px;
  left: 145px;
  width: 70px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Group_BotBtn {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 360px;
  height: 40px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Back {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 5px;
  width: 120px;
  height: 35px;
  background-color: #32383D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Raleway-Light',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Back .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Back span {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 8.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Back span#rtr-s-Rectangle_Back_0 {
  color: #EFEFEF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_BackBtn > svg {
  width: 30px;
  height: 30px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_BackBtn {
  position: absolute;
  top: 5px;
  left: 40px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Save {
  position: absolute;
  top: 0px;
  left: 120px;
  padding-bottom: 5px;
  width: 120px;
  height: 35px;
  background-color: #32383D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Raleway-Light',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Save .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Save span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 8.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Save span#rtr-s-Rectangle_Save_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_Save > svg {
  width: 30px;
  height: 30px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_Save {
  position: absolute;
  top: 5px;
  left: 165px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Next {
  position: absolute;
  top: 0px;
  left: 240px;
  padding-bottom: 5px;
  width: 120px;
  height: 35px;
  background-color: #32383D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 8.0pt;
  font-family: 'Raleway-Light',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Next .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Next span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 8.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Next span#rtr-s-Rectangle_Next_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_Next > svg {
  width: 30px;
  height: 30px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_Next {
  position: absolute;
  top: 5px;
  left: 285px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_6 {
  position: absolute;
  top: 20px;
  left: 100px;
  width: 40px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_7 {
  position: absolute;
  top: 20px;
  left: 220px;
  width: 40px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Group_Mainmenu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 60px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Toptap {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 60px;
  background-color: #00D2F1;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Toptap .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Toptap span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Toptap span#rtr-s-Rectangle_Toptap_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Toptap span#rtr-s-Rectangle_Toptap_1 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Topbackground_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-bottom: 10px;
  width: 50px;
  height: 50px;
  background-color: #32383D;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Topbackground_2 .valign {
  vertical-align: bottom;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Topbackground_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Topbackground_2 span#rtr-s-Rectangle_Topbackground_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_home > svg {
  width: 30px;
  height: 30px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_home {
  position: absolute;
  top: 15px;
  left: 10px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Master_item_1 div.offset {
  position: relative;
  top: -140px;
  left: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Master_item_1 {
  position: absolute;
  top: 60px;
  left: 0px;
  width: 360px;
  height: 119px;
  overflow: visible;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Group_Popup {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 640px;
  background-color: #666666;
  background-image: none;
  opacity: 0.75;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_2 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_3 {
  position: absolute;
  top: 221px;
  left: 30px;
  padding-top: 15px;
  width: 300px;
  height: 185px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px 1px #434343;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_3 span {
  color: #F42652;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #F42652;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_44 > svg {
  width: 24px;
  height: 24px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_44 {
  position: absolute;
  top: 389px;
  left: 300px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_43 > svg {
  width: 24px;
  height: 24px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_43 {
  position: absolute;
  top: 389px;
  left: 35px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Text_Customerhead_5 {
  position: absolute;
  top: 380px;
  left: 30px;
  width: 150px;
  height: 40px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Text_Customerhead_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Text_Customerhead_5 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 10.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Text_Customerhead_5 span#rtr-s-Text_Customerhead_5_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Text_Customerhead_4 {
  position: absolute;
  top: 380px;
  left: 180px;
  width: 150px;
  height: 40px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Text_Customerhead_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Text_Customerhead_4 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 10.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Text_Customerhead_4 span#rtr-s-Text_Customerhead_4_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_9 {
  position: absolute;
  top: 400px;
  left: 160px;
  width: 40px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  transform: rotate(90deg);
  box-shadow: none;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Paragraph_1 {
  position: absolute;
  top: 283px;
  left: 49px;
  width: 264px;
  height: 71px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Raleway-Regular',Arial;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Paragraph_1 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 10.0pt;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}