#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_3 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_3 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_2 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit_2 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_delete_2 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_2 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_2 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_delete_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_delete {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_5 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_4 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_add_2 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_4 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_3 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_add_1 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Back {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_BackBtn {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Save {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_Save {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Next {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_Next {
  -ms-transform: rotate(180.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Topbackground_2 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_home {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_44 {
  -ms-transform: rotate(180.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Text_Customerhead_5 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Text_Customerhead_4 {
  -ms-transform: rotate(0.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}