#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_delete_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_delete_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Price_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Exit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_delete {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_add_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Item_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_design_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_add_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_8 {
  rotation: 90.0;
  margin-left: 34px;
  margin-top: -35px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_BackBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Save {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_Save {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Next {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_Next {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: 0px;
  margin-top: -1px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_6 {
  rotation: 90.0;
  margin-left: 19px;
  margin-top: -20px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_7 {
  rotation: 90.0;
  margin-left: 19px;
  margin-top: -20px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Toptap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_Topbackground_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_home {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Rectangle_Current {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Rectangle_Step1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Ellipse_Step1_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Rectangle_Step1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Ellipse_Step1_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Rectangle_Step1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Ellipse_Step1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Rectangle_Company {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_44 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Text_Customerhead_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Text_Customerhead_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Line_9 {
  rotation: 90.0;
  margin-left: 19px;
  margin-top: -20px;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-af8a446a-8389-4646-bd3d-9e3772ce5efb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}