#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Paragraph_Mainaddress {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Paragraph_Mainaddress_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Text_Customerhead_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Paragraph_Customertext {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Text_Customerhead {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Paragraph_Mainaddress_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Rectangle_Topbackground_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Image_home {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Rectangle_Toptap_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Image_81 {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Rectangle_Toptap_2 {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Rectangle_Back {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Image_BackBtn {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Rectangle_Save {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Rectangle_Next {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 #s-Image_Save_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b0149c5e-a2d1-4db1-ad17-08b9d8817b00 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}