#s-b3e83bb8-a473-43c2-bdfd-9e0adecfc440 #s-Rectangle_Offlinemode {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3e83bb8-a473-43c2-bdfd-9e0adecfc440 #s-Paragraph_head {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3e83bb8-a473-43c2-bdfd-9e0adecfc440 #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3e83bb8-a473-43c2-bdfd-9e0adecfc440 #s-Image_Mian {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3e83bb8-a473-43c2-bdfd-9e0adecfc440 #s-Image_Back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3e83bb8-a473-43c2-bdfd-9e0adecfc440 #s-Paragraph_Text {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b3e83bb8-a473-43c2-bdfd-9e0adecfc440 #s-Image_Exit {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b3e83bb8-a473-43c2-bdfd-9e0adecfc440 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}