#s-b702b12b-8d44-4e41-8118-1aea4435226d #s-Rectangle_Offlinemode {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b702b12b-8d44-4e41-8118-1aea4435226d #s-Paragraph_Detail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b702b12b-8d44-4e41-8118-1aea4435226d #s-Paragraph_head {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b702b12b-8d44-4e41-8118-1aea4435226d #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b702b12b-8d44-4e41-8118-1aea4435226d #s-Image_Main {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b702b12b-8d44-4e41-8118-1aea4435226d #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-b702b12b-8d44-4e41-8118-1aea4435226d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}