#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Rectangle_Offlinemode {
  position: absolute;
  top: 600px;
  left: 0px;
  width: 358px;
  height: 38px;
  background-color: #32383D;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Raleway-Medium',Arial;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Rectangle_Offlinemode .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Rectangle_Offlinemode span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Medium',Arial;
  font-size: 10.0pt;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Rectangle_Offlinemode span#rtr-s-Rectangle_Offlinemode_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Medium',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Paragraph_head {
  position: absolute;
  top: 338px;
  left: 0px;
  width: 360px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 16.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Paragraph_head .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Paragraph_head span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Paragraph_head span#rtr-s-Paragraph_head_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Ellipse_Background .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 250px;
  height: 250px;
  position: absolute;
  overflow: hidden;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Ellipse_Background .content {
  width: 250px;
  height: 250px;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Ellipse_Background {
  position: absolute;
  top: 67px;
  left: 56px;
  width: 250px;
  height: 250px;
  background-color: #EFEFEF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #shapewrapper-s-Ellipse_Background .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #shapewrapper-s-Ellipse_Background span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #shapewrapper-s-Ellipse_Background span#rtr-s-Ellipse_Background_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Input_Username {
  position: absolute;
  top: 441px;
  left: 29px;
  width: 296px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #32383D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #32383D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #32383D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #32383D;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: none;
  text-shadow: none;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Input_Username .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Input_Username input {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Image_Mian > svg {
  width: 120px;
  height: 120px;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Image_Mian {
  position: absolute;
  top: 134px;
  left: 120px;
  width: 120px;
  height: 120px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Image_Next > svg {
  width: 30px;
  height: 30px;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Image_Next {
  position: absolute;
  top: 10px;
  left: 319px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Image_Back > svg {
  width: 30px;
  height: 30px;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Image_Back {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Paragraph_passwordleft {
  position: absolute;
  top: 0px;
  left: 66px;
  width: 227px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Paragraph_passwordleft .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Paragraph_passwordleft span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Paragraph_passwordleft span#rtr-s-Paragraph_passwordleft_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Input_newpassword2 {
  position: absolute;
  top: 539px;
  left: 29px;
  width: 296px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #32383D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #32383D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #32383D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #32383D;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: none;
  text-shadow: none;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Input_newpassword2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Input_newpassword2 input {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Input_newpassword1 {
  position: absolute;
  top: 495px;
  left: 29px;
  width: 296px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #32383D;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #32383D;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #32383D;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #32383D;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  box-shadow: none;
  text-shadow: none;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Input_newpassword1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Input_newpassword1 input {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Paragraph_Text {
  position: absolute;
  top: 381px;
  left: 40px;
  width: 280px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Paragraph_Text .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Paragraph_Text span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 #s-Paragraph_Text span#rtr-s-Paragraph_Text_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-bbd8d955-a7b3-4e4c-8b57-3c0d90d237b5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}