#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Rectangle_Toptap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Image_Cancel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Rectangle_Toptap_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}