#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Image_Cancel {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_13 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_14 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Line_2 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Line_3 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Line_3 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Line_4 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Line_4 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c #s-Rectangle_Toptap_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-e6ff6086-f9b8-4d86-9aae-6aaf8fc08a3c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}