#s-f7f37d41-0eeb-4983-a989-f1e298777c2f #s-Rectangle_Topbackground_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f37d41-0eeb-4983-a989-f1e298777c2f #s-Image_home {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f37d41-0eeb-4983-a989-f1e298777c2f #s-Rectangle_Toptap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f37d41-0eeb-4983-a989-f1e298777c2f #s-Paragraph_Customertext {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f37d41-0eeb-4983-a989-f1e298777c2f #s-Text_Customerhead {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f37d41-0eeb-4983-a989-f1e298777c2f #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f7f37d41-0eeb-4983-a989-f1e298777c2f #s-Image_Display {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Rectangle_Topbackground_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f7f37d41-0eeb-4983-a989-f1e298777c2f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}