#s-f93cfc96-e701-4796-a74f-14e59c0f6151 #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-f93cfc96-e701-4796-a74f-14e59c0f6151 #s-Image_Cancel {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f93cfc96-e701-4796-a74f-14e59c0f6151 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}