#s-f93cfc96-e701-4796-a74f-14e59c0f6151 #s-Rectangle_Toptap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f93cfc96-e701-4796-a74f-14e59c0f6151 #s-Image_Cancel {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_Topbackground_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_BtnAccept_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-dropdown_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-dropdown_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-dropdown_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_71 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Image_45 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.0,M12=-1.2246467991473532E-16,M21=1.2246467991473532E-16,M22=-1.0);
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Image_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Text_Customerhead_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Text_Customerhead_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_14 {
  rotation: 90.0;
  margin-left: 19px;
  margin-top: -20px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_73 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75) ;
  filter: alpha(opacity=75) ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-f93cfc96-e701-4796-a74f-14e59c0f6151 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}