#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb #s-Rectangle_Offlinemode {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 1px 1px 1px 1px;
  -ms-transform: rotate(0.0deg);
}
#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb #s-Paragraph_Detail {
  -ms-transform: rotate(0.0deg);
}
#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb #s-Paragraph_head {
  -ms-transform: rotate(0.0deg);
}
#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb #s-Ellipse_Background {
  -ms-transform: rotate(0.0deg);
}
#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb #s-Image_Main {
  -ms-transform: rotate(0.0deg);
}
#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb #s-Image_Back {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}