#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb #s-Rectangle_Offlinemode {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb #s-Paragraph_Detail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb #s-Paragraph_head {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb #s-Image_Main {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb #s-Image_Back {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fa622c2a-6a77-4e44-8e57-2af8e631a3eb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}