#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Rectangle_StartQuotationBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Rectangle_Payment {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Rectangle_Shippingaddress {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Paragraph_Mainaddress {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Ellipse_Background {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Text_Customerhead_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Text_Customerhead_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Text_Customerhead {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Rectangle_Topbackground_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Rectangle_Toptap {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Rectangle_Topbackground_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Image_home {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}