#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Rectangle_StartQuotationBtn {
  -ms-transform: rotate(0.0deg);
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Rectangle_Payment {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Rectangle_Shippingaddress {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Paragraph_Mainaddress {
  -ms-transform: rotate(0.0deg);
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Ellipse_Background {
  -ms-transform: rotate(0.0deg);
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Text_Customerhead_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Text_Customerhead_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Text_Customerhead {
  -ms-transform: rotate(0.0deg);
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Rectangle_Toptap {
  -ms-transform: rotate(0.0deg);
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Rectangle_Topbackground_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Image_home {
  -ms-transform: rotate(0.0deg);
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #00C0EF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #00C0EF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #00C0EF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #00C0EF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Image_16 {
  -ms-transform: rotate(0.0deg);
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-fb8b5a52-62df-4d13-9f6b-1d2e0d0e0cae > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}