#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Current {
  -ms-transform: rotate(0.0deg);
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Step1_2 {
  -ms-transform: rotate(0.0deg);
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Ellipse_Step1_2 {
  -ms-transform: rotate(0.0deg);
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Step1_1 {
  -ms-transform: rotate(0.0deg);
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Ellipse_Step1_1 {
  -ms-transform: rotate(0.0deg);
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Step1 {
  -ms-transform: rotate(0.0deg);
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Ellipse_Step1 {
  -ms-transform: rotate(0.0deg);
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Company {
  -ms-transform: rotate(0.0deg);
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}