#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Current {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Step1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Ellipse_Step1_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Step1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Ellipse_Step1_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Step1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Ellipse_Step1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Rectangle_Company {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6 #m-4ba4db03-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-4ba4db03-915a-4bc9-9c88-a7f84be5f3e6.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}