#m-633211c5-bbe9-4c69-93f4-2b2258157a7a #m-633211c5-Rectangle_Current {
  -ms-transform: rotate(0.0deg);
}
#m-633211c5-bbe9-4c69-93f4-2b2258157a7a #m-633211c5-Rectangle_Step1_2 {
  -ms-transform: rotate(0.0deg);
}
#m-633211c5-bbe9-4c69-93f4-2b2258157a7a #m-633211c5-Ellipse_Step1_2 {
  -ms-transform: rotate(0.0deg);
}
#m-633211c5-bbe9-4c69-93f4-2b2258157a7a #m-633211c5-Rectangle_Step1_1 {
  -ms-transform: rotate(0.0deg);
}
#m-633211c5-bbe9-4c69-93f4-2b2258157a7a #m-633211c5-Ellipse_Step1_1 {
  -ms-transform: rotate(0.0deg);
}
#m-633211c5-bbe9-4c69-93f4-2b2258157a7a #m-633211c5-Rectangle_Step1 {
  -ms-transform: rotate(0.0deg);
}
#m-633211c5-bbe9-4c69-93f4-2b2258157a7a #m-633211c5-Ellipse_Step1 {
  -ms-transform: rotate(0.0deg);
}
#m-633211c5-bbe9-4c69-93f4-2b2258157a7a #m-633211c5-Rectangle_Company {
  -ms-transform: rotate(0.0deg);
}
#m-633211c5-bbe9-4c69-93f4-2b2258157a7a #m-633211c5-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#m-633211c5-bbe9-4c69-93f4-2b2258157a7a #m-633211c5-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#m-633211c5-bbe9-4c69-93f4-2b2258157a7a.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}