#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_StartQuotationBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}