#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Dynamic_Panel_1 {
  position: absolute;
  top: 120px;
  left: 390px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Panel_1 {
  width: 360px;
  height: 180px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Panel_1 .verticalalign {
  vertical-align: top;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_StartQuotationBtn {
  position: absolute;
  top: 140px;
  left: 0px;
  width: 360px;
  height: 40px;
  background-color: #00D2F1;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 12.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_StartQuotationBtn .valign {
  vertical-align: middle;
  text-align: center;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_StartQuotationBtn span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 12.0pt;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_StartQuotationBtn span#rtr-m-681cfa72-Rectangle_StartQuotationBtn_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Group_Dropdown {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 300px;
  height: 30px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 20px;
  width: 278px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 11px;
  font-size: 10.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_3 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_3 span#rtr-m-681cfa72-Rectangle_3_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down > svg {
  width: 24px;
  height: 24px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down {
  position: absolute;
  top: 3px;
  left: 271px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Group_Dropdown_2 {
  position: absolute;
  top: 79px;
  left: 30px;
  width: 300px;
  height: 30px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_4 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-right: 20px;
  width: 278px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_4 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_4 span#rtr-m-681cfa72-Rectangle_4_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_2 > svg {
  width: 24px;
  height: 24px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_2 {
  position: absolute;
  top: 3px;
  left: 271px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Panel_2 {
  width: 360px;
  height: 180px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Panel_2 .verticalalign {
  vertical-align: top;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Group_Dropdown_1 {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 300px;
  height: 30px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 298px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_5 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_5 span#rtr-m-681cfa72-Rectangle_5_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_1 > svg {
  width: 24px;
  height: 24px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_1 {
  position: absolute;
  top: 3px;
  left: 271px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Group_Dropdown_3 {
  position: absolute;
  top: 79px;
  left: 30px;
  width: 300px;
  height: 30px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 298px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_6 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_6 span#rtr-m-681cfa72-Rectangle_6_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_3 > svg {
  width: 24px;
  height: 24px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_3 {
  position: absolute;
  top: 3px;
  left: 271px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_1 {
  position: absolute;
  top: 51px;
  left: 30px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 280px;
  height: 100px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 3px 0px #404040;
  text-shadow: none;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_1 .valign {
  vertical-align: top;
  text-align: left;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_1 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 9.0pt;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_1 span#rtr-m-681cfa72-Rectangle_1_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_1 span#rtr-m-681cfa72-Rectangle_1_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_1 span#rtr-m-681cfa72-Rectangle_1_2 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_1 span#rtr-m-681cfa72-Rectangle_1_3 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Line_1 {
  position: absolute;
  top: 106px;
  left: 40px;
  width: 280px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #999999;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_9 {
  position: absolute;
  top: 54px;
  left: 323px;
  width: 5px;
  height: 20px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_9 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_9 span#rtr-m-681cfa72-Rectangle_9_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Panel_3 {
  width: 360px;
  height: 180px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Panel_3 .verticalalign {
  vertical-align: top;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Group_Dropdown_4 {
  position: absolute;
  top: 20px;
  left: 30px;
  width: 300px;
  height: 30px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 298px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_7 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_7 span#rtr-m-681cfa72-Rectangle_7_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_4 > svg {
  width: 24px;
  height: 24px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_4 {
  position: absolute;
  top: 3px;
  left: 271px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Group_Dropdown_5 {
  position: absolute;
  top: 79px;
  left: 30px;
  width: 300px;
  height: 30px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_8 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 298px;
  height: 28px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-LightItalic',Arial;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_8 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_8 span#rtr-m-681cfa72-Rectangle_8_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_5 > svg {
  width: 24px;
  height: 24px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_5 {
  position: absolute;
  top: 3px;
  left: 271px;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_2 {
  position: absolute;
  top: 111px;
  left: 30px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  width: 280px;
  height: 20px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 3px 0px #404040;
  text-shadow: none;
  line-height: 17px;
  font-size: 9.0pt;
  font-family: 'Raleway-Bold',Arial;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_2 .valign {
  vertical-align: top;
  text-align: left;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_2 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 9.0pt;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_2 span#rtr-m-681cfa72-Rectangle_2_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}