#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_StartQuotationBtn {
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down {
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_2 {
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_1 {
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_3 {
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_4 {
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #1CD2FF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #1CD2FF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #1CD2FF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #1CD2FF;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Image_down_5 {
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74 #m-681cfa72-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#m-681cfa72-37b4-4922-b8fb-893c528a7a74.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}