#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Rectangle_Current {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Rectangle_Step1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Ellipse_Step1_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Rectangle_Step1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Ellipse_Step1_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Rectangle_Step1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Ellipse_Step1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Rectangle_Company {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}