#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Rectangle_Current {
  -ms-transform: rotate(0.0deg);
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Rectangle_Step1_2 {
  -ms-transform: rotate(0.0deg);
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Ellipse_Step1_2 {
  -ms-transform: rotate(0.0deg);
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Rectangle_Step1_1 {
  -ms-transform: rotate(0.0deg);
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Ellipse_Step1_1 {
  -ms-transform: rotate(0.0deg);
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Rectangle_Step1 {
  -ms-transform: rotate(0.0deg);
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Ellipse_Step1 {
  -ms-transform: rotate(0.0deg);
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Rectangle_Company {
  -ms-transform: rotate(0.0deg);
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7 #m-7c9c4ced-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#m-7c9c4ced-a9f5-4b1a-9927-6de6a672ead7.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}