#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_Topbackground_2 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_BtnAccept_1 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-dropdown_1 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-dropdown_2 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-dropdown_3 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_52 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_53 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_54 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_55 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_56 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_57 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_58 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_59 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_60 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_61 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_62 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_63 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_64 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_65 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_66 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_67 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_68 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_70 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_69 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_71 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_72 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Image_45 {
  -ms-transform: rotate(180.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Text_Customerhead_6 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Text_Customerhead_7 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_73 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Rectangle_74 {
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Paragraph_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Paragraph_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Paragraph_5 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca #m-82b07eb4-Paragraph_4 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#m-82b07eb4-a52c-4cd0-b3ff-b1a36c7f1dca.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}