#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Rectangle_Topbackground_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#m-9100d451-ae07-4938-a35c-e607b946f405.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}