#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Rectangle_Topbackground_1 {
  -ms-transform: rotate(0.0deg);
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_1 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_2 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_2 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_3 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#m-9100d451-ae07-4938-a35c-e607b946f405 #m-9100d451-Line_3 {
  border-top-width: 1px;
  border-top-style: dotted;
  border-top-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#m-9100d451-ae07-4938-a35c-e607b946f405.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}