#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_Topbackground_2 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_BtnAccept_1 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-dropdown_1 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-dropdown_2 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-dropdown_3 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_52 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_53 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_54 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_55 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_56 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_57 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_58 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_59 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_60 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_61 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_62 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_63 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_64 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_65 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_66 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_67 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_68 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_70 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_69 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_71 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_72 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Image_45 {
  -ms-transform: rotate(180.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Image_46 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Text_Customerhead_6 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Text_Customerhead_7 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #C0C0C0;
  -ms-transform: rotate(90.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_73 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Rectangle_74 {
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Paragraph_3 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Paragraph_6 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Paragraph_5 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c #m-a2e72fcb-Paragraph_4 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#m-a2e72fcb-228a-44cd-a6a0-25ed8fe92f7c.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}