#m-a7a1a9c0-fa01-465b-a65a-66f27e4adcd7 #m-a7a1a9c0-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a7a1a9c0-fa01-465b-a65a-66f27e4adcd7 #m-a7a1a9c0-Image_down_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a7a1a9c0-fa01-465b-a65a-66f27e4adcd7 #m-a7a1a9c0-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a7a1a9c0-fa01-465b-a65a-66f27e4adcd7 #m-a7a1a9c0-Image_down_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a7a1a9c0-fa01-465b-a65a-66f27e4adcd7 #m-a7a1a9c0-S1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a7a1a9c0-fa01-465b-a65a-66f27e4adcd7 #m-a7a1a9c0-Rectangle_StartQuotationBtn {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-a7a1a9c0-fa01-465b-a65a-66f27e4adcd7.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}