#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Ellipse_Status {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Ellipse_Status_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}