#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Dynamic_Panel_1 {
  position: absolute;
  top: 58px;
  left: 216px;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Panel_1 {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Panel_1 .verticalalign {
  vertical-align: top;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Ellipse_Status .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  overflow: hidden;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Ellipse_Status .content {
  width: 30px;
  height: 30px;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Ellipse_Status {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: #A4D805;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Rubik',Arial;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #shapewrapper-m-bd0f6d6c-Ellipse_Status .valign {
  vertical-align: middle;
  text-align: center;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #shapewrapper-m-bd0f6d6c-Ellipse_Status span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Rubik',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #shapewrapper-m-bd0f6d6c-Ellipse_Status span#rtr-m-bd0f6d6c-Ellipse_Status_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Rubik',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Panel_2 {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Panel_2 .verticalalign {
  vertical-align: top;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Ellipse_Status_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  overflow: hidden;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Ellipse_Status_1 .content {
  width: 30px;
  height: 30px;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Ellipse_Status_1 {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 18px;
  font-size: 10.0pt;
  font-family: 'Rubik',Arial;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #shapewrapper-m-bd0f6d6c-Ellipse_Status_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #shapewrapper-m-bd0f6d6c-Ellipse_Status_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Rubik',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #shapewrapper-m-bd0f6d6c-Ellipse_Status_1 span#rtr-m-bd0f6d6c-Ellipse_Status_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Rubik',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b #m-bd0f6d6c-Image_1 {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-bd0f6d6c-ba87-49b7-a7f8-d4e29ec4092b.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}