#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Dynamic_Panel_1 {
  position: absolute;
  top: 80px;
  left: 506px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Panel_1 {
  width: 360px;
  height: 580px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Panel_1 .verticalalign {
  vertical-align: top;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Group_Search {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 170px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_Topbackground_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 360px;
  height: 135px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px 1px #32383D;
  text-shadow: none;
  line-height: 15px;
  font-size: 14.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_Topbackground_1 .valign {
  vertical-align: top;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_Topbackground_1 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 14.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_Topbackground_1 span#rtr-m-d062a9cf-Rectangle_Topbackground_1_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_Topbackground_1 span#rtr-m-d062a9cf-Rectangle_Topbackground_1_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_Topbackground_1 span#rtr-m-d062a9cf-Rectangle_Topbackground_1_2 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_Username_1 {
  position: absolute;
  top: 120px;
  left: 30px;
  width: 296px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  box-shadow: none;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_Username_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_Username_1 input {
  color: #CCCCCC;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_Username {
  position: absolute;
  top: 80px;
  left: 30px;
  width: 296px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  box-shadow: none;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_Username .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_Username input {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Panel_2 {
  width: 360px;
  height: 580px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Panel_2 .verticalalign {
  vertical-align: top;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Group_6 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 170px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_16 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 360px;
  height: 135px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px 1px #32383D;
  text-shadow: none;
  line-height: 15px;
  font-size: 14.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_16 .valign {
  vertical-align: top;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_16 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 14.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_16 span#rtr-m-d062a9cf-Rectangle_16_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_16 span#rtr-m-d062a9cf-Rectangle_16_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_16 span#rtr-m-d062a9cf-Rectangle_16_2 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_1 {
  position: absolute;
  top: 120px;
  left: 30px;
  width: 296px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  box-shadow: none;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_1 input {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_2 {
  position: absolute;
  top: 80px;
  left: 30px;
  width: 296px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  box-shadow: none;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_2 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_2 input {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_60 {
  position: absolute;
  top: 111px;
  left: 30px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 290px;
  height: 75px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 3px 0px #404040;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_60 .valign {
  vertical-align: top;
  text-align: left;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_60 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_60 span#rtr-m-d062a9cf-Rectangle_60_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Panel_3 {
  width: 360px;
  height: 580px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Panel_3 .verticalalign {
  vertical-align: top;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Group_12 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 170px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_32 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 360px;
  height: 135px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px 1px #32383D;
  text-shadow: none;
  line-height: 15px;
  font-size: 14.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_32 .valign {
  vertical-align: top;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_32 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 14.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_32 span#rtr-m-d062a9cf-Rectangle_32_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_32 span#rtr-m-d062a9cf-Rectangle_32_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_32 span#rtr-m-d062a9cf-Rectangle_32_2 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_3 {
  position: absolute;
  top: 120px;
  left: 30px;
  width: 296px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  box-shadow: none;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_3 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_3 input {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-LightItalic',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_4 {
  position: absolute;
  top: 80px;
  left: 30px;
  width: 296px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  box-shadow: none;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_4 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_4 input {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_33 {
  position: absolute;
  top: 151px;
  left: 30px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 290px;
  height: 75px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 3px 0px #404040;
  text-shadow: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_33 .valign {
  vertical-align: top;
  text-align: left;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_33 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_33 span#rtr-m-d062a9cf-Rectangle_33_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Panel_4 {
  width: 360px;
  height: 580px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Panel_4 .verticalalign {
  vertical-align: top;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Group_13 {
  position: absolute;
  top: 170px;
  left: 0px;
  width: 360px;
  height: 50px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_34 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 30px;
  width: 330px;
  height: 50px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_34 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_34 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_34 span#rtr-m-d062a9cf-Rectangle_34_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_35 {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 60px;
  height: 50px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_35 span#rtr-m-d062a9cf-Rectangle_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Line_16 {
  position: absolute;
  top: 49px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_36 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Black',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_36 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Black',Arial;
  font-size: 12.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_36 span#rtr-m-d062a9cf-Rectangle_36_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Black',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Group_14 {
  position: absolute;
  top: 220px;
  left: 0px;
  width: 360px;
  height: 50px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_37 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 30px;
  width: 330px;
  height: 50px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_37 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_37 span#rtr-m-d062a9cf-Rectangle_37_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_38 {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 60px;
  height: 50px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_38 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_38 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_38 span#rtr-m-d062a9cf-Rectangle_38_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Line_17 {
  position: absolute;
  top: 49px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_39 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Black',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_39 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Black',Arial;
  font-size: 12.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_39 span#rtr-m-d062a9cf-Rectangle_39_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Black',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Group_15 {
  position: absolute;
  top: 270px;
  left: 0px;
  width: 360px;
  height: 50px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_40 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 30px;
  width: 330px;
  height: 50px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_40 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_40 span#rtr-m-d062a9cf-Rectangle_40_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_41 {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 60px;
  height: 50px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_41 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_41 span#rtr-m-d062a9cf-Rectangle_41_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Line_18 {
  position: absolute;
  top: 49px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_42 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Black',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_42 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_42 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Black',Arial;
  font-size: 12.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_42 span#rtr-m-d062a9cf-Rectangle_42_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Black',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Group_16 {
  position: absolute;
  top: 320px;
  left: 0px;
  width: 360px;
  height: 50px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_43 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 30px;
  width: 330px;
  height: 50px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_43 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_43 span#rtr-m-d062a9cf-Rectangle_43_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_44 {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 60px;
  height: 50px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_44 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_44 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_44 span#rtr-m-d062a9cf-Rectangle_44_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Line_19 {
  position: absolute;
  top: 49px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_45 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Black',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_45 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_45 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Black',Arial;
  font-size: 12.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_45 span#rtr-m-d062a9cf-Rectangle_45_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Black',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Group_17 {
  position: absolute;
  top: 370px;
  left: 0px;
  width: 360px;
  height: 50px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_46 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 30px;
  width: 330px;
  height: 50px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_46 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_46 span#rtr-m-d062a9cf-Rectangle_46_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_47 {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 60px;
  height: 50px;
  background-color: #434343;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_47 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_47 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_47 span#rtr-m-d062a9cf-Rectangle_47_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Line_20 {
  position: absolute;
  top: 49px;
  left: 0px;
  width: 360px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_48 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 25px;
  height: 50px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: 'Roboto-Black',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_48 .valign {
  vertical-align: middle;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_48 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Black',Arial;
  font-size: 12.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_48 span#rtr-m-d062a9cf-Rectangle_48_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Black',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Group_18 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 360px;
  height: 170px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_49 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 360px;
  height: 135px;
  background-color: #F3F3F3;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 5px 1px #32383D;
  text-shadow: none;
  line-height: 15px;
  font-size: 14.0pt;
  font-family: 'Raleway-SemiBold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_49 .valign {
  vertical-align: top;
  text-align: center;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_49 span {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 14.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_49 span#rtr-m-d062a9cf-Rectangle_49_0 {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_49 span#rtr-m-d062a9cf-Rectangle_49_1 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-SemiBold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_49 span#rtr-m-d062a9cf-Rectangle_49_2 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Raleway-Light',Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_5 {
  position: absolute;
  top: 120px;
  left: 30px;
  width: 296px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  box-shadow: none;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_5 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_5 input {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_6 {
  position: absolute;
  top: 80px;
  left: 30px;
  width: 296px;
  height: 26px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  box-shadow: none;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_6 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Input_6 input {
  color: #32383D;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 10.0pt;
  text-shadow: none;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_50 {
  position: absolute;
  top: 151px;
  left: 30px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 290px;
  height: 75px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 3px 0px #404040;
  text-shadow: none;
  display: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_50 .valign {
  vertical-align: top;
  text-align: left;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_50 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_50 span#rtr-m-d062a9cf-Rectangle_50_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_61 {
  position: absolute;
  top: 111px;
  left: 30px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 290px;
  height: 75px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: 0px 0px 3px 0px #404040;
  text-shadow: none;
  display: none;
  font-size: 9.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_61 .valign {
  vertical-align: top;
  text-align: left;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_61 span {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280 #m-d062a9cf-Rectangle_61 span#rtr-m-d062a9cf-Rectangle_61_0 {
  color: #32383D;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#m-d062a9cf-1afb-4ae2-bef6-e46c72b4c280.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}