#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_Topbackground_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11 #m-ecc6defd-Rectangle_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-ecc6defd-9bfc-4cab-b638-e0be5d20ca11.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}