#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Rectangle_Current {
  -ms-transform: rotate(0.0deg);
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Rectangle_Step1_2 {
  -ms-transform: rotate(0.0deg);
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Ellipse_Step1_2 {
  -ms-transform: rotate(0.0deg);
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Rectangle_Step1_1 {
  -ms-transform: rotate(0.0deg);
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Ellipse_Step1_1 {
  -ms-transform: rotate(0.0deg);
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Rectangle_Step1 {
  -ms-transform: rotate(0.0deg);
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Ellipse_Step1 {
  -ms-transform: rotate(0.0deg);
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Rectangle_Company {
  -ms-transform: rotate(0.0deg);
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139 #m-f67dd51d-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#m-f67dd51d-a9c9-4b8d-8d64-e944def37139.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}